{% if pageCount > 1 %}
    <nav class="flex justify-center my-4">
        <div class="pagination inline-flex items-center space-x-2">
            {% if first is defined and current != first %}
                <span class="first">
                    <a class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200"
                       href="{{ path(route, knp_pagination_query(query, first, options)) }}">&lt;&lt;</a>
                </span>
            {% endif %}

            {% if previous is defined %}
                <span class="previous">
                    <a class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200"
                       rel="prev" href="{{ path(route, knp_pagination_query(query, previous, options)) }}">&lt;</a>
                </span>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <span class="page">
                        <a href="{{ path(route, knp_pagination_query(query, page, options)) }}">{{ page }}</a>
                    </span>
                {% else %}
                    <span class="current px-4 py-2 border rounded-lg bg-blue-900 text-white">{{ page }}</span>
                {% endif %}
            {% endfor %}

            {% if next is defined %}
                <span class="next">
                    <a class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200"
                       rel="next" href="{{ path(route, knp_pagination_query(query, next, options)) }}">&gt;</a>
                </span>
            {% endif %}

            {% if last is defined and current != last %}
                <span class="last">
                    <a class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200"
                       href="{{ path(route, knp_pagination_query(query, last, options)) }}">&gt;&gt;</a>
                </span>
            {% endif %}
        </div>
    </nav>
{% endif %}
